*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    height: 100vh;
    width: 100vw;
    overflow-x: none;


}


.navContainer{
    width: 100vw;
    background-color: rgb(113, 113, 165);
    min-height: 80px;

}


#navList{
    list-style: none; 
    
}


#navLogo{
    font-size: 2.8rem;
}