*{
    padding: 0;
    margin: 0;
}

.headerList{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    background-color: aqua;
    /* gap: 25px; */
    /* margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
} */
}
.container{
    
}
/* #list2{
    gap: 20px;
} */

#content1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

