.headerList{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    /* gap: 25px; */
    /* margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
} */
}
.container{
    background-color: aqua;
}