* {
    margin: 0;
    padding: 0;
}

#div1 {
    background-color: rgb(241, 231, 217);
}

#span {
    color: red;
}

#h1books {
    padding-top: 50px;
    text-align: center;
    color: black;
}

#para1 {
    padding-bottom: 90px;
    text-align: center;

}

#book1 {
    margin-left: 150px;
}

#book2 {
    margin-left: 60px;
}

#book3 {
    margin-left: 60px;
}

#book4 {
    margin-left: 60px;
}

#div2 {
    background-color: rgb(230, 243, 243);

}

#h2materials {
    padding-top: 50px;
    text-align: center;
    color: red;
}

#para2 {
    padding-bottom: 90px;
    text-align: center;


}

#materials1 {
    margin-left: 150px;
}

#materials2 {
    margin-left: 60px;
}

#materials3 {
    margin-left: 60px;
}

#materials4 {
    margin-left: 60px;
}

#div3 {
    background-color: rgb(225, 250, 235);
}

#h3course {
    padding-top: 50px;
    text-align: center;
    color: red;
}

#para3 {
    padding-bottom: 90px;
    text-align: center;
}

#course1 {
    margin-left: 150px;
}

#course2 {
    margin-left: 60px;

}

#course3 {
    margin-left: 60px;
}

#course4 {
    margin-left: 60px;
}

.a,
a {
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
    background-color: grey;
}

.a,
a:hover {
    color: red;

}

#sec1 {


    background-color: rgb(222, 232, 238);
}

#para4 {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 20px;

}

#h1about {
    padding-top: 20px;
    text-align: center;
    color: red;
}

#footer1 {
    background-color: rgb(61, 56, 56);
    color: aliceblue;

    padding: 10px 10px 10px 20px;


}

#sec2 {


    margin: 50px;
    text-align: center;



}



#jayphoto {


    border-radius: 50%;


}

#jayname {
    text-align: center;
}
#h1founder{
    padding-top: 30px;
    padding-bottom: 40px;
}