.box{
    width: 400px;
    height: 400px;
    background-color:beige ;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    transition: all 3s linear 1s;
}
.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    /* transform: rotate(45deg); */

}
p{
    font-size: 28px;
}
