* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.main {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header {
  /* position: fixed; */
  /* float: left; */
  /* position: fixed; */
  overflow: hidden;
  height: 100vh;
  width: 280px;
  /* padding: 20px 10px; */
  /* padding-left: 750px; */
  background-color: #040b14;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  /* justify-content:space-evenly; */
  /* text-align: center; */
  position: fixed;
}

.img1 {
  width: 150px;
  border-radius: 50%;
  margin-left: 63px;
  margin-top: 20px;
}

.header a {
  /* text-align: center; */
  /* float: left; */
  /* text-align: center; */

  /* text-decoration: none; */
  color: rgb(103, 108, 112);
}

.header a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.header a:hover {
  color: rgb(226, 226, 226);
}

.header i:hover {
  color: #1da1f2;
}

/* BACKGROUND IMAGE WITH MULTIPLE TEXT ANIMATION */

/* 
.bg-img-txt{
  margin-left: 0;
  margin-top: 0;
  width:100%;
  
  height: 100vh;
  
  background-color: #4c9c8f;
} */

.contbody {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #252839;
}

.container h1 {
  font-size: 50px;
  color: #fff;
  font-weight: 500;
}

.wrapper {
  display: inline-flex;
}

.fixed-txt {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
}

.moving-txt {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

.moving-txt li {
  color: #01fe87;
  list-style: none;
  font-size: 50px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: move 6s steps(4) infinite;
}

@keyframes move {
  100% {
    top: -360px;
  }
}

.moving-txt li span:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #343f4f;
  border-left: 2px solid #01fe87;
  animation: type 1.5s steps(10) infinite;
}
@keyframes type {
  100% {
    left: 100%;
    margin: 0 -35 0 35;
  }
}

.Right {
  margin-left: 280px;
}
.About {
  /* float :  right ; */
  margin-left: 20px;
  /* height: 1200px; */
}
.Ab {
  color: rgb(31, 31, 90);
  text-decoration-line: underline;
}
.aboutHead h2 {
  color: rgb(31, 31, 90);
}

.abpara p {
  font-style: italic;
}

.dob {
  display: flex;
  /* flex-direction: row; */
}

.dob h3 {
  margin-left: 5px;
  font-size: medium;
}

#bpara {
  margin-top: 17px;
  margin-left: 7px;
}

.dlogo {
  color: blue;
}

.dlogo1 {
  margin-left: 100px;
  color: blue;
}

.dlogo2 {
  margin-left: 107px;
  color: blue;
}

.dlogo3 {
  margin-left: 151px;
  color: blue;
}

.aboutIN {
  margin-left: 370px;

  margin-right: 50px;
}

.headimg h2 {
  color: white;
  margin-left: 87px;
}

.headimg i {
  color: white;
  margin-left: 15px;
  margin-bottom: 30px;
}
.mediaicon {
  margin-left: 60px;
}
/* .headimg {
  display: flex;
  flex-direction: column;
  text-align: center;

} */

/* .fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  
  border-radius: 50%;

  color: white;
} */

#aicon {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;

  border-radius: 50%;

  color: white;
}
#aicon1 {
  margin-top: 15px;
  padding-top: 15px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

/* -------------------Resume-------------- */

.Resume h2 {
  color: rgb(31, 31, 90);
}
/* resume section */
.Resume {
  margin-left: 20px;
  margin-top: 120px;
}

.Resume p {
  margin-right: 53px;
}

.sumary {
  margin-top: 50px;
  width: 53%;
}

.sumary h2 {
  color: black;
}

.wrapper {
  width: auto;
  height: auto;
}

.circle {
  width: 15px;
  height: 15px;
  background: #125688;
  border-radius: 100px;
  position: relative;
  margin: 0;
  display: flex;
}

/* .circle2 {
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 100px;
  position: relative;
  margin: 1px;
  margin-top: 3px;
  
} */

/* h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #fff;
} */
/* 
.vertical-line {
  width: 2px;
  height: 100px;

  background: #125688;
  margin-left: 6px;
}



.sumurySec{
  display: flex;

  float: left;
}
*/
.verticala {
  width: 95px;
  height: 2px;
  margin-left: 1px;
  border-width: 0;
  color: rgb(6, 31, 145);
  background-color: rgb(29, 30, 32);
}

.sumName {
  margin-left: 15px;
  color: #040b14;
}

.sumName p {
  font-style: italic;
}

hr {
  border: 0;
  height: 1px;
  background-color: #333;
  color: rgb(31, 31, 90);
  background: linear-gradient(to right, #ccc, #333, #ccc);
}

.Education h2 {
  color: black;
}
.Education {
  margin-top: 50px;
}

.resumesec {
  display: flex;
}

.school {
  margin-left: 15px;
}
.schoolName {
  font-style: italic;
}
.year {
  height: 30px;
  width: 105px;
  color: #272829;
  background-color: #e4edf9;
  /* margin: 0px 0px 10px; */
  /* padding: 5px 5px; */
  font: 17px raleway, sans-serif;
}

.year h5 {
  margin: 12px;

  padding-top: 5px;
  font-size: medium;
  font-variant-numeric: oldstyle-nums;
}

.eduPara {
  margin: 15px;
}

.verticala1 {
  width: 500px;
  height: 2px;
  margin-left: 1px;
  border-width: 0;
  color: rgb(6, 31, 145);
  background-color: rgb(29, 30, 32);
}

.verticala2 {
  width: 123px;
  height: 2px;
  margin-left: 1px;
  border-width: 0;
  color: rgb(6, 31, 145);
  background-color: rgb(29, 30, 32);
}

.Hobbies {
  margin-left: 15px;
}

.verticalaSkill {
  width: 67px;
  height: 2px;
  margin-left: 1px;
  border-width: 0;
  color: rgb(6, 31, 145);
  background-color: rgb(29, 30, 32);
}

.hbh4 {
  margin-left: 15px;
}

/* BOXES */

.boxes {
  display: flex;
}

.box1 {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  background: #5a5a5a;
  margin-left: 7px;
}

.box2 {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  background: #b8b7b7;
  margin-left: 7px;
}

/* CONTACT SECTION */
.Contact {
  margin-left: 20px;
  margin-top: 120px;
}
#LocationSec {
  display: flex;
}

#EmailSec {
  display: flex;
}

.material-icons {
  margin-top: 29px;
  padding-top: 4px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #dff3fc;
  color: #42c1fc;
  text-align: center;
}

#emaillogo {
  margin-top: 29px;
  padding-top: 7px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #dff3fc;
  color: #42c1fc;
  text-align: center;
}

#emaillogo:hover {
  background: #007bb5;
}

.material-icons:hover {
  background: #007bb5;
}
.LocInfo {
  margin-left: 10px;
}
.LocInfo h4 {
  font-size: 23px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
}
.LocInfo p {
  font-size: 14px;
  margin: 0;
}

#LocationSec i {
  font-size: 30px;
  opacity: 0.6;
  transition: 0.3s;
}

#phonelogo {
  font-size: 33px;
  opacity: 0.6;
  transition: 0.3s;
}
#EmailSec i {
  font-size: 23px;
  opacity: 0.6;
  transition: 0.3s;
}

#LocationSec i:hover {
  color: white;
  opacity: 0.6;
  transition: 0.7s;
}
#EmailSec i:hover {
  color: white;
  opacity: 0.6;
  transition: 0.7s;
}

.leftCont {
  margin-top: 25px;
  background: white;
  padding-left: 30px;
  height: 580px;
  width: 400px;
  box-shadow: 1px 1px 20px 5px grey;
}

#maps {
  margin-left: 11px;
  margin-top: 20px;
}

.rightCont {
  margin-left: 35px;
  margin-top: 25px;
  background: white;
  padding-left: 30px;
  height: 580px;
  width: 590px;
  box-shadow: 1px 1px 20px 5px grey;
  padding: 30px;
}

.contactSec1 {
  display: flex;
}

.email-name-sec {
  display: flex;
}

.contact-email-sec {
  margin-left: 40px;
}

.contName {
  margin-top: 10px;
  height: 40px;
  width: 243px;
  padding: 6px 12px;

  border: solid 1px;
  border-color: #7393b3;
}
input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 1px lightblue;
}

.contMail {
  margin-top: 10px;
  height: 40px;
  width: 243px;
  padding: 6px 12px;

  border: solid 1px;
  border-color: #7393b3;
}

input[type="Email"]:focus {
  outline: none;
  box-shadow: 0 0 0 1px lightblue;
}

.contName1 {
  font-weight: 1;
  color: #272829;
}
.contMail1 {
  font-weight: 1;
  color: #272829;
}

.contSubject {
  margin-top: 10px;
  height: 45px;
  width: 525px;
  padding: 6px 12px;

  border: solid 1px;
  border-color: #7393b3;
}

.contSubject1 {
  font-weight: 1;
  color: #272829;
}

.subject-sec {
  margin-top: 30px;
}

.contMessage {
  margin-top: 10px;
  height: 210px;
  width: 525px;
  padding: 16px 18px;

  border: solid 1px;
  border-color: #7393b3;
}

.contMessage1 {
  font-weight: 1;
  color: #272829;
}

/* textarea */
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px lightblue;
}

.message-sec {
  margin-top: 30px;
}

.Contact {
  margin-bottom: 120px;
}

input[type="submit"] {
  background-color: #149ddd;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 185px;
}

input[type="submit"]:hover {
  background-color: #2ba7e0;
}
