* {box-sizing: border-box;}

body { 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main{
    /* display: flex; */
    

}

.header{
    /* position: fixed; */
    float: left;
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 300px;
    padding: 20px 10px;
    /* padding-left: 750px; */
    background-color: #bfc2a5d0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    
    
    

}
.header a {
    text-align: center;
    /* float: left; */
    /* text-align: center; */
    

    /* text-decoration: none; */


}

.header a:link {
    text-decoration: none;
  }
/* a:visited {
    text-decoration: none;
  } */

.header a:hover{

    color: white;
    

}
.About { 
    /* float :  right ; */
    margin-left: 315px ;
    height: 1200px;
}
.Ab{
    text-decoration-line: underline;
}
.aboutHead h2 {
    color: rgb(88, 88, 167);
}

.aboutIN p{
    font-style: italic;
    
}
